/* body{
  background-color: #333;
} */

.btn:hover {
  background-color: lightgreen;
}

btn {
  background-color: lightgray;
}

.sub {
  background-color: lightcyan;

  color: white;
}

.sub:hover {
  background-color: lightgreen;
}

.sublink:hover {
  color: "white";
}
